*.log
wp-config.php
#wp-content/advanced-cache.php
#wp-content/backup-db/
#wp-content/backups/
#wp-content/blogs.dir/
#wp-content/cache/
#wp-content/upgrade/
#wp-content/uploads/
#wp-content/wp-cache-config.php
#wp-content/plugins/


webfonts/
wp-admin/
wp-includes/


# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
___backup/
wp-content/breezingforms/
wp-content/images/
wp-content/languages/
wp-content/plugins/
wp-content/uploads/
wp-content/upgrade/
wp-content/themes/*
wp-content/*
!wp-content/themes/yoo_unity_wp/



/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/index.*
/.DS_*
/liesmich*
/wp-*.php
/xmlrpc*
